AAnimation/local.properties
.idea
AAnimation/.idea
AAnimation/gen
AAnimation/AAnimation.iml
*.iws
.DS_Store
*.class
*.apk
AAnimationDemo/local.properties
AAnimationDemo/gen
AAnimationDemo/.idea/workspace.xml
